tmp/
lib/
pkg/
.idea/
mod.info
revision.info
*.a
*.mp3
*.wav
*.wad
*.exe

**/backup/
bin/error.log
bin/runtime.log
bin/settings.lua
bin/save
bin/drl.prc
bin/drl.dll
bin/user/

src/doomrl.lps
src/makewad.lps
src/drl.lps
src/drl.res
src/Makefile

temp/
